.con{
  background-color: #a1a1a1;
  height: 100vh;
}
.orange{
  background-color: orange;
  height: 200px;
}
.red{
  background-color: red;
  height: 200px;
}
.orange{
  background-color: orange;
  height: 200px;
}
